<!-- your html code here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div>
              <h3 class="textoprincipalbanner">This First Heading Will Catch Your Eye</h3>
              <h4 class="textosecundariobanner">Podrás crear tus propias listas de reproducción, dar a me gusta a tus videos favoritos y acceder a muchas más funcionalidades</h4>
            
            </div>
        </div>
          
        <div class="col-lg-2">
          <img src="./assets/img/1.jpg" width="400rem" class="img1"></img>
        </div>              
    </div>        
