<h2>Porfolio</h2>
<p>Donec ullamcorper nula non metus auctor frings Vestibulum id ligula portafels euismod semper. Praesent commodo cursus
    magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="./assets/img/big-project-image.png"
                class="card-img-top imgheight" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/img/big-project-image.png" class="card-img-top imgheight"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/img/big-project-image.png"
                class="card-img-top imgheight" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>