<!-- your html code here -->
<div class="container-fluid">
    <div class="row"> 
          
        <div class="col-lg-4 col-md-12">
          <img src="./assets/img/2.jpg" width="400rem" class="img1 img-fluid mx-auto d-block"></img>
        </div> 
        
        <div class="col-lg-8 col-md-12 max">

            <div class="container">
              <h1 class="alineacion">The Second Heading</h1> <h1 class="textoprincipalbanner">Is Pretty Cool Too</h1>
              <p class="textosecundariobanner">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            
            </div>
        </div>
    </div>        
